*.bin	filter=lfs diff=lfs merge=lfs -crlf
*.blob	filter=lfs diff=lfs merge=lfs -crlf
*.bz2	filter=lfs diff=lfs merge=lfs -crlf
*.dump	filter=lfs diff=lfs merge=lfs -crlf
*.gz	filter=lfs diff=lfs merge=lfs -crlf
*.img	filter=lfs diff=lfs merge=lfs -crlf
*.iso	filter=lfs diff=lfs merge=lfs -crlf
*.jar	filter=lfs diff=lfs merge=lfs -crlf
*.rpm	filter=lfs diff=lfs merge=lfs -crlf
*.tar	filter=lfs diff=lfs merge=lfs -crlf
*.tgz	filter=lfs diff=lfs merge=lfs -crlf
*.war	filter=lfs diff=lfs merge=lfs -crlf
*.zip	filter=lfs diff=lfs merge=lfs -crlf
*.deb filter=lfs diff=lfs merge=lfs -text
*.gpg filter=lfs diff=lfs merge=lfs -text
*.bin	filter=lfs diff=lfs merge=lfs -crlf
*.blob	filter=lfs diff=lfs merge=lfs -crlf
*.bz2	filter=lfs diff=lfs merge=lfs -crlf
*.dump	filter=lfs diff=lfs merge=lfs -crlf
*.gz	filter=lfs diff=lfs merge=lfs -crlf
*.img	filter=lfs diff=lfs merge=lfs -crlf
*.iso	filter=lfs diff=lfs merge=lfs -crlf
*.jar	filter=lfs diff=lfs merge=lfs -crlf
*.rpm	filter=lfs diff=lfs merge=lfs -crlf
*.tar	filter=lfs diff=lfs merge=lfs -crlf
*.tgz	filter=lfs diff=lfs merge=lfs -crlf
*.war	filter=lfs diff=lfs merge=lfs -crlf
*.zip	filter=lfs diff=lfs merge=lfs -crlf
*.deb filter=lfs diff=lfs merge=lfs -text
*.gpg filter=lfs diff=lfs merge=lfs -text
“*.qft” filter=lfs diff=lfs merge=lfs -text
“*.ref” filter=lfs diff=lfs merge=lfs -text
“*.so” filter=lfs diff=lfs merge=lfs -text
“*.pdf” filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.rpm filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.war filter=lfs diff=lfs merge=lfs -text
*.pandas filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ps filter=lfs diff=lfs merge=lfs -text
*.qft filter=lfs diff=lfs merge=lfs -text
*.ref filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text

# Imported from SVN
Benchmark/util excludees=NO_TEST
LGPL/CommonSoftware/acsalarmidl excludees=NO_TEST sinners=acaproni
LGPL/CommonSoftware/acsalarm sinners=acaproni
LGPL/CommonSoftware/acscomponentidl excludees=NO_TEST
LGPL/CommonSoftware/acsdaemonidl excludees=NO_TEST
LGPL/CommonSoftware/acserridl excludees=NO_TEST
LGPL/CommonSoftware/acsGUIs/acsEclipseUtils excludees=NO_TEST sinners=acaproni
LGPL/CommonSoftware/ACSLaser/cmw-mom excludees=NO_TEST
LGPL/CommonSoftware/ACSLaser/gp excludees=NO_TEST
LGPL/CommonSoftware/ACSLaser/gp-openide excludees=NO_TEST
LGPL/CommonSoftware/ACSLaser/laser-client excludees=NO_TEST
LGPL/CommonSoftware/ACSLaser/laser-console excludees=NO_TEST
LGPL/CommonSoftware/ACSLaser/laser-definition excludees=NO_TEST
LGPL/CommonSoftware/ACSLaser/laser-extlib excludees=NO_TEST
LGPL/CommonSoftware/acsthread sinners=pcolomer
LGPL/CommonSoftware/cdbidl excludees=NO_TEST
LGPL/CommonSoftware/loggingidl excludees=NO_TEST
LGPL/CommonSoftware/monitoring/moncollect sinners=mmanas
LGPL/CommonSoftware/nsStatisticsService sinners=pcolomer
LGPL/Kit/acs sinners=eallaert
LGPL/Tools/castor excludees=NO_TEST
LGPL/Tools/doxygen excludees=NO_TEST
LGPL/Tools/emacs excludees=NO_TEST
LGPL/Tools/expat excludees=NO_TEST
LGPL/Tools/extidl excludees=NO_TEST
LGPL/Tools/extjars excludees=NO_TEST
LGPL/Tools/log4cpp excludees=NO_TEST
LGPL/Tools/loki excludees=NO_TEST
LGPL/Tools/oAW excludees=NO_TEST
LGPL/Tools/scxml_apache excludees=NO_TEST
LGPL/Tools/tat sinners=eallaert
LGPL/Tools/vtd-xml excludees=NO_TEST
