<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="alarm-system-profiler.product"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/alarm-system-profiler.app/css/default.css">
         </property>
         <property
               name="appName"
               value="alarm-system-profiler.product">
         </property>
      </product>
   </extension>

</plugin>
